@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Lato', sans-serif;
    width: 100%;
}
h1, h2, h4 {
    color: #222222;
}

h1 {
    font-size: 50px;
    line-height: 64px; 
}

h2 {
    font-size: 46px;
    line-height: 54px;
}

h4 {
    font-size: 20px;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-pad1 {
    padding: 40px 80px;
}

.section-mar1 {
    margin: 40px 0;
}

// navbar

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 50px;
    z-index: 10;
    transition: .3s ease;

    img {
        height: 70px;
    }

    .navbar-list {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            position: relative;
            list-style: none;
            padding: 0 20px;

            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 600;
                color: #2a2a2a;
                transition: .2s ease;

                &:hover,
                &.active {
                    color: #088178;
                }

                &.active::after,
                &:hover::after {
                    content: "";
                    width: 30%;
                    height: 2px;
                    background: #088178;
                    position: absolute;
                    bottom: -4px;
                    left: 20px;

                }
            }
        }
    }

    .mobile,
    .close {
        display: none;
    }
}

.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
    transition: .3s ease;
}

header {
    top: 0;
    left: 0;
    background-image: url("../img/main-hero.jpg");
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 80px;
    margin-top: -79px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    h4 {
        padding-bottom: 15px;
    }

    h1 {
        color: #088178;
    }

    button {
        background: transparent;
        color: #088178;
        border: 2px solid #088178;
        width: 120px;
        height: 40px;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
    }
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .feature-content {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        margin: 15px 0;
        box-shadow: 10px 10px 30px rgba($color: #000, $alpha: .05);
        border: 1px solid #cce7d0;
        border-radius: 8px;
        transition: .2s ease;

        

        &:hover {
            box-shadow: 10px 10px 40px rgba($color: #000, $alpha: .1);
        }

        img {
            width: 100%;
            margin-bottom: 8px;
        }

        h6 {
            padding: 10px 8px;
            line-height: 8px;
            border-radius: 5px;
            color: #088178;
            background: #fddde4;
        }

        &:nth-child(2) h6 {
            background-color: #cdebbc;
        }
        &:nth-child(3) h6 {
            background-color: #d1e8f2;
        }
        &:nth-child(4) h6 {
            background-color: #cdd4f8;
        }
        &:nth-child(5) h6 {
            background-color: #f6dbf6;
        }
        &:nth-child(6) h6 {
            background-color: #fff2e5;
        }
    }
}

.featured,
.new-arrival {
    text-align: center;

    .featured-container,
    .new-arrival-container {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        flex-wrap: wrap;

        .product {
            width: 24%;
            min-width: 200px;
            padding: 10px 15px;
            border: 1px solid #cce7d0;
            border-radius: 8px;
            box-shadow: 10px 10px 30px rgba($color: #000000, $alpha: .05);
            margin: 10px 0;
            transition: .2s ease;
    
            &:hover {
                box-shadow: 10px 10px 40px rgba($color: #000000, $alpha: .1);
            }
    
            img {
                width: 100%;
                border-radius: 5px;
                cursor: pointer;
            }
    
            .description {
                text-align: start;
                padding: 10px 0;
    
                span {
                    font-size: 12px;
                    color: #606063;
                }
    
                h5 {
                    padding-top: 8px;
                    color: #1a1a1a;
                }
    
                .rating {
                    display: flex;
                    align-items: center;
                    height: 40px;
    
                    p {
                        font-size: 15px;
                    }
    
                    i {
                        font-size: 13px;
                        color: #ffa500;
                        padding-right: 5px;
                    }
                }
    
                .price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    h4 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #088178;
                    }
    
                    a {
                        text-decoration: none;
    
                        .fa-shopping-cart {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 40px;
                            height: 40px;
                            border-radius: 20px;
                            background-color: #e8f6ea;
                            color: #088178;
                            border-radius: 1px solid #cce7d0;
                        }
                    } 
                }    
            }
        }
    } 
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../img/banners/about-banner.png");
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    

    h4 {
        font-size: 16px;
        color: #fff;
    }

    h2 {
        font-size: 30px;
        color: #fff;
        padding: 10px 0;

        span {
            color: #ef3636;
        }
    }

    button {
        font-size: 14px;
        font-weight: 600;
        padding: 15px 30px;
        color: #fff;
        background: transparent;
        border: 2px solid #cdebbc;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: .2s ease;

        &:hover {
            background: #cdebbc;
            color: #088178;
            border-color: #cdebbc;
        }
    }
}


.banners {
    display: flex;
    justify-content: space-between;

    .banner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
        padding: 25px 30px;
        background-image: url("../img/banners/banner-1.jpg");
        width: 49%;
        max-width: 100%;
        height: 30vh;
        background-size: cover;
        background-position: center;

        &:nth-of-type(2) {
            background-image: url("../img/banners/banner-2.jpg");
        }
        
        h4 {
            color: #fff;
            font-size: 20px;
            font-weight: 300;
        }

        h2 {
            color: #fff;
            font-size: 27px;
            font-weight: 800;
        }

        span {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 14px;
        }

        button {
            font-size: 14px;
            font-weight: 600;
            padding: 10px 15px;
            color: #fff;
            background: transparent;
            border: 1px solid #fff;
            border-radius: 2px;
            outline: none;
            cursor: pointer;
            transition: .2s ease;

            &:hover {
                background: #cdebbc;
                color: #000;
                border-color: #cdebbc;
            }
        }
    }
}

.second-banners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .banner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        background-image: url("../img/banners/banner-3.jpg");
        min-width: 29%;
        max-width: 33%;
        height: 25vh;
        background-size: cover;
        background-position: center;

        &:nth-of-type(2) {
            background-image: url("../img/banners/banner-4.jpg");
        }

        &:nth-of-type(3) {
            background-image: url("../img/banners/banner-5.jpg");
        }

        h2 {
            color: #fff;
            font-size: 22px;
            font-weight: 900;
        }

        h3 {
            color: #ec544e;
            font-size: 15px;
            font-weight: 800;
        }
    }
}

.newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url("../img/banners/about-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h4 {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
    }

    p {
        color: #818ea0;
        font-size: 14px;
        font-weight: 600;

        span {
            color: #ffbd27;
        }
    }

    .form {
        display: flex;
        width: 35%;

        input {
            height: 3rem;
            padding: 0 1.3rem;
            font-size: 14px;
            width: 100%;
            border: 1px solid transparent;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            outline: none;
        }
    
        button {
            font-size: 14px;
            font-weight: 600;
            padding: 12px 30px;
            color: #fff;
            white-space: nowrap;
            background: #088178;
            border: 1px solid transparent;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            outline: none;
            cursor: pointer;
            transition: .2s ease;
    
            &:hover {
                background: #cdebbc;
                color: #088178;
                border-color: #cdebbc;
            }
        }
    } 
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;

        .socials {
            margin-top: 15px;
    
            .socials-icons a {
                font-size: 20px;
                color: #465b52;
                transition: .2s ease;

                &:hover {
                    color: #088178;
                }
            }
        }
    }

    .column:nth-of-type(1) img {
        height: 80px;
        margin-left: -40px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 14px;
        padding-bottom: 15px;
    }
    
    p {
        font-size: 13px;
        margin: 0 0 5px 0;
    }

    a {
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
        transition: .2s ease;

        &:hover {
            color: #088178;
        }
    }

    .column:nth-of-type(4) {
        
        img {
            max-height: 35px;
            margin: 10px 0 15px 0;
        }

        .row {

            img {
                border: 1px solid #088178;
                border-radius: 8px;
                padding: 3px;
                cursor: pointer;
            }
        }
    }

    .copyright {
        width: 100%;
        text-align: center;
    }
}

// shop

.shop-header {
    background: url("../img/banners/shop-header.jpg");
    margin-top: 0;
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;

    h2, p {
        color: #fff;
    }
}

.pagination {
    text-align: center;

    a {
        text-decoration: none;
        background: #088178;
        padding: 20px;
        border-radius: 3px;
        color: #fff;
        font-weight: 600;
        transition: .3s ease;

        &:hover {
            background: rgba($color: #088178, $alpha: .8);
        }

        i {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.single-product {
    display: flex;
    margin-top: 20px;

    .main-img,
    .smaller-img {
        width: 100%;
    }

    .product-img {
        width: 40%;
        margin-right: 40px;

        .image-group {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;

            .img-column {
                flex-basis: 24%;
                cursor: pointer;
            }
        }
    }

    .product-details {
        width: 50%;
        padding-top: 20px;

        h4 {
            padding: 30px 0 10px 0;
        }

        h2 {
            font-size: 26px;
        }

        select {
            display: block;
            padding: 5px 10px;
            margin-bottom: 10px;
        }

        input {
            width: 50px;
            height: 45px;
            padding-left: 10px;
            font-size: 16px;
            margin-right: 10px;

            &:focus {
                outline: none;
            }
        }

        button {
            font-size: 14px;
            font-weight: 600;
            padding: 12px 30px;
            color: #fff;
            white-space: nowrap;
            background: #088178;
            border: 1px solid transparent;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            transition: .2s ease;
    
            &:hover {
                background: #cdebbc;
                color: #088178;
                border-color: #cdebbc;
            }
        }

        p {
            line-height: 1.6;
        }
    }
}



// about 

.about-header {
    background: url("../img/banners/about-banner.png");
    margin-top: 0;
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;

    h2, p {
        color: #fff;
    }
}

.about-intro {
    display: flex;
    align-items: center;

    img {
        width: 50%;
        height: auto;
    }

    div:nth-child(2) {
        width: 50%;
        padding-left: 40px;

        p, abbr {
            text-align: justify;
        }
    }

    .scroll-left {
        height: 20px; 	
        overflow: hidden;
        position: relative;
        background: #ccc;
         
        p {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0;
            transform: translateX(100%);
            animation: scroll-left 20s linear infinite;
           }
        }
}

@keyframes scroll-left {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}


// contacts

.contact-header {
    background: url("../img/banners/about-banner.png");
    margin-top: 0;
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    text-align: center;

    h2, p {
        color: #fff;
    }
}

.contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .details {
        width: 40%;

        span {
            font-size: 12px;
        }

        h2 {
            font-size: 26px;
            line-height: 35px;
            padding: 20px 0;
        }

        h3 {
            padding-bottom: 15px;
        }

        li {
            list-style: none;
            display: flex;
            padding: 10px 0;
            color: #088178;

            i {
                font-size: 14x;
                padding-right: 12px;
            }

            p {
                margin: 0;
                font-size: 16px;
            }
        }
    }

    .map {
        width: 55%;
        height: 400px;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.contact-form {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 30px;
    border: 1px solid #e1e1e1;
    form {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
            font-size: 12px;
        }

        h2 {
            font-size: 26px;
            line-height: 35px;
            padding: 20px 0;
        }

        input,
        textarea {
            width: 100%;
            padding: 12px 14px;
            outline: none;
            margin-bottom: 15px;
            border: 1px solid #e1e1e1;
            transition: .3s ease;

            &:focus {
                border-color: #088178;
                color: #088178;
            }
        }

        textarea {
            width: 100%;
            resize: none;
        }

        button {
            font-size: 14px;
            font-weight: 600;
            padding: 12px 30px;
            color: #fff;
            white-space: nowrap;
            background: #088178;
            border: 1px solid transparent;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            transition: .2s ease;
    
            &:hover {
                background: #cdebbc;
                color: #088178;
                border-color: #cdebbc;
            }
        }
    }

    .team {

        div {
            padding-bottom: 20px;
            display: flex;
            align-items: flex-start;
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                margin-right: 10px;
            }

            p {
                margin: 0;
                font-size: 14px;
                line-height: 20px;

                span {
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }
}

// Media Query

@media (max-width: 780px) {
    nav {

        .navbar-list {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            position: fixed;
            top: 0;
            right: -300px;
            width: 300px;
            height: 100vh;
            background: #e3e6f3;
            box-shadow: 0 30px 50px rgba($color: #000000, $alpha: .1);
            padding: 80px 0 0 10px;
            z-index: 10;
            transition: .2s ease;

            li {
                margin-bottom: 25px;

                &:last-of-type {
                    display: none;
                }
            }
        }

        .mobile {
            display: flex;
            align-items: center;

            i {
                color: #1a1a1a;
                font-size: 24px;
                padding-left: 20px;
            }
        }

        .close {
            display: flex;
        }

        .active {
            right: 0;
        }

        .close {
            display: initial;
            position: absolute;
            top: 20px;
            left: 30px;
            font-size: 24px;
            color: #222;
        }
    }

    header {
        padding: 0 50px;
        background-position: 70% 50%;
    }

    .features {
        justify-content: center;

        .feature-content {
            margin: 15px;
        }
    }

    .featured-container {
        justify-content: center;

        .product {
            margin: 15px;
        }
    }

    .banner {
        height: 40vh;
    }

    .banners {
        flex-direction: column;
        padding: 30px;
        
        .banner-container {
            min-width: 100%;
            height: 30vh;
            text-align: start;
        }
    }

    .second-banners {
        flex-direction: column;
        padding: 0 30px;

        .banner-container {
            min-height: 30vh;
            min-width: 100%;
            width: 100%;
        }
    }

    .newsletter {
        padding: 30px;

        .form {
            width: 700%;
        }
    }
}

@media (max-width: 450px) {

    .section-pad1 {
        padding: 30px;
    }

    .section-mar1 {
        margin: 30px;
    }

    nav {
        .logo {
            transform: translateX(-40px)
        };
    }

    header {
        padding: 10px 30px;

        h1 {
            font-size: 38px;
        }

        h2 {
            font-size: 32px;
        }
    }

    .features {
        .feature-content {
            width: 140px;
            margin: 0 5px 15px 5px;
        }
    }

    .featured, .new-arrival {
        .featured-container,
        .new-arrival-container {
            .product {
                width: 100%;
            }
        }
    }

    .newsletter {
        width: 100%;
        margin: 0;
        .form {
            width: 100%;
        }
    }

    // product

    .single-product {
        display: flex;
        flex-direction: column;

        .product-img {
            width: 100%;
            margin-right: 0px;
        }

        .product-details {
            width: 100%;

            p {
                text-align: justify;
                line-height: 1.6;
            }
        }
    }

    // about 

    .about-intro {
        flex-direction: column;

        img {
            width: 100%;
            margin-bottom: 20px;
        }

        div:nth-child(2) {
            width: 100%;
            padding: 0;
        }
    }


    // contacts 

    .contact-details {
        flex-direction: column;
        justify-content: center;
    
        .details {
            order: 2;
            width: 100%;
    
            span {
                font-size: 14px;
            }
        }
    
        .map {
            width: 100%;
            height: 300px;
            margin-bottom: 40px;
        }
    }

    .contact-form {
        flex-wrap: wrap;
        margin: 20px;
        padding: 0;

        form {
            width: 100%;
            margin: 20px;
        }

        .team {
            padding: 15px;
        }
    }
}